.bgcolor{
   background-color:#E9FDD7;
}
.card,.contact-info{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.col-md-5{

}

.PAINGUINE-text,.WINTER{
       color:#FA804C;
       font-family: 'Anton', sans-serif;
       font-size: 60px;
}
.WINTER{
     color:#A4BC46;
}
.paragraph-text{
    color:gray;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #76C27E 0%, #557e59 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 13px 28px;
    cursor: pointer;
}
.col-md-7 p,button,h1{
    padding: 0px 0px 0px 150px;
}

.card-img-top,.contact-bg-color{
    border-radius: 5px;
    background-color: #E8ECF5;
    border: 10px;
}

.card-body{

}
.card-title{
    color:#363958;
    font-family: 'Anton', sans-serif;
}
.dollar{
    color:#FA804C;
    font-family: 'Anton', sans-serif;
}
.buy-now-button{
    padding-left:20px;
}
.icon{
    height: 30px;
    width: 30px;
}